<!DOCTYPE html>
<html lang="en">
<head>

  <script>
    
const recordAudio = () =>
  new Promise(async resolve => {
    const stream = await navigator.mediaDevices.getUserMedia({ audio: true });
    const mediaRecorder = new MediaRecorder(stream);
    const audioChunks = [];

    mediaRecorder.addEventListener("dataavailable", event => {
      audioChunks.push(event.data);
    });

    const start = () => mediaRecorder.start();

    const stop = () =>
      new Promise(resolve => {
        mediaRecorder.addEventListener("stop", () => {
          const audioBlob = new Blob(audioChunks);
          const audioUrl = URL.createObjectURL(audioBlob);
          const audio = new Audio(audioUrl);
          const play = () => audio.play();
          uploadAudioFile(blobToFile(audioBlob));
          resolve({ audioBlob, audioUrl, play });
        });

        mediaRecorder.stop();
      });

    resolve({ start, stop });
  });

const sleep = time => new Promise(resolve => setTimeout(resolve, time));
const readKey = () => new Promise(resolve => window.addEventListener('keypress', resolve, { once: true }));


(async () => {
  const recorder = await recordAudio();
  const x = await readKey();
  recorder.start();
  
  const y = await readKey();
  const audio = await recorder.stop();
  audio.play();
  
  
})();

  function uploadAudioFile(file) {
    var audioUploadUrl = 'http://localhost:3000/upload';
    var oReq = new XMLHttpRequest();
    oReq.open("POST", audioUploadUrl, true);
    oReq.onload = function (oEvent) {
      console.log(oEvent);
      console.log('Uploaded the audio file!');
      console.log(oReq.responseText);
    };
    oReq.send(file);
  }

  function blobToFile(theBlob, fileName) {
    //A Blob() is almost a File() - it's just missing the two properties below which we will add
    theBlob.lastModifiedDate = new Date();
    theBlob.name = fileName;
    return theBlob;
  }

</script>
  <!-- load font awesome here for icon used on the page -->
</head>
<body>
  hello
  <input type="file" accept="audio/*" capture id="recorder">
  <audio id="player" controls></audio>
</body>
</html>
